---
layout: default
---

<article>

	<h1 class="title">{{ page.title }}</h1>

	<div class="divider"></div>

	{{ content }}

</article>

<section>
	<h3 style="margin-top: 70px;">CTF Challenge Writeups</h3>
	{% for post in site.posts %}
		<ul>
            {% if post.categories contains "writeup" %}
			<li>
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
				</div>
			</li>
            {% endif %}
		</ul>

	{% endfor %}
</section>

<section>
	<h3 style="margin-top: 70px;">CTF events and meetups</h3>
	{% for post in site.posts reversed %}
		<ul>
            {% if post.categories contains "event" %}
			<li>
				<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>

			</li>
            {% endif %}
		</ul>

	{% endfor %}
</section>

