---
layout: default
---

<article>

	<h1 class="title">{{ page.title }}</h1>

	<div class="divider"></div>

	{{ content }}

</article>
<article>
	<a style="text-decoration: none;" href="https://powerpuffpwn.de/workshop"><img src="/assets/CTF-Workshop-2023-new.png"></a>
</article>
<section>
	<h3 style="margin-top: 70px;">CTF Challenge Writeups</h3>
	{% for post in site.posts %}

        {% if post.categories contains "writeup" %}
		<ul>
			<li>
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
				</div>
			</li>
		</ul>
        {% endif %}

	{% endfor %}
</section>



<article>
	<iframe src="https://discord.com/widget?id=829789407216533504&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
</article>

